{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row mt50">
		<div class="input-field col s6 offset-s3">
            <center>
                <img class="responsive-img img" style="width: 250px;" src="/static/pic/axa.png" />
                <h2 class="flow-text indigo-text darken-4 logo">S'inscrire</h2>

			    <div class="col s6 offset-s3">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            <input id="ID3" type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}">
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}
                            
                            <button class="btn waves-effect indigo darken-4 btn-co" type="submit" name="action">Confirmer</button>
                            <a class="btn waves-effect indigo darken-4 btn-co" href="{% url 'connexion' %}">Se connecter</a>
                    </form>
		        </div>
            </center>
        </div>
    </div>
</body>
</html>