{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <h2 class="flow-text red-text darken-2">Bienvenue {{ user.username }}</h2>
    <h2 class="flow-text red-text darken-2">Votre id de personnage est {{ profil.user.test }}</h2>
    <h2 class="flow-text red-text darken-2">Votre id de personnage est {{ user.profil.test }}</h2>
    <h2 class="flow-text red-text darken-2">Votre id de personnage est {{ profil.test }}</h2>
    <h2 class="flow-text red-text darken-2">Votre id de personnage est {{ user.test }}</h2>

    <h2 class="flow-text red-text darken-2">Profil.user {{ profil }}</h2>



    <h2 class="flow-text red-text darken-2">email {{ user.email }}</h2>
    {% else %}
    <h2 class="flow-text red-text darken-2">Bienvenue, n'hesite pas à t'inscrire !</h2>
    {% endif %}
{% endblock %}